<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="5">
	<Appenders>
		<File name="MyFile" fileName="logs/library.log" append="true">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5level %logger [%t] %m%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="MyFile"/>
		</Root>
	</Loggers>
</Configuration>